@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg{
opacity: 0.9;
background-image:  linear-gradient(#230647 3.3000000000000003px, transparent 3.3000000000000003px), linear-gradient(to right, #230647 3.3000000000000003px, rgba(0,0,0,0) 3.3000000000000003px);
background-size: 66px 66px;
@apply bg-primary-600;
}